<div class="login-box">
  <h2>Student Login</h2>
  <form>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="" required="">
      <label>Password</label>
    </div>
  </form>
  <div class="button-div">
    <button>Login</button>
  </div>
  <div class="center">
    Forgot password?
  </div>
  <div class="divider">
    <span class="or">or</span>
  </div>
  <div class="center">
    Don't have an account? Register
  </div>

</div>